/* 
    Document   : Adsum Styles
    Created on : Aug 21, 2013, 4:56:49 PM
    Author     : Chris Vogt <cjv@sedonaconference.org>
*/

body {
    background: url('../img/pattern/square_bg.png') repeat #fefefe;
}

#main-container {
    margin-top: 24px;
}

